<section id="modal">
    <div id="card">
      <div id="head">
        <h2>Logout</h2>
  
        <a
          id="close"
          href="/user/<%= user.firstName %><%= user.lastName %>"
          ><i class="material-icons">close</i></a
        >
  
  
      </div>
      <hr />
  
      <p>Do you really want to log out?</p>
      <div id="btns">
        <a
          id="btnNot"
          href="/user/<%= user.firstName %><%= user.lastName %>s"
          >No</a
        >
        <a id="btnYes" href="/user/<%= user.firstName %><%= user.lastName %>/logoutAccount">Yes </a>
      </div>
    </div>
  </section>
  