<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="headerUser">
      <div id="dashboardUser">
        <ul id="navbar" class="navbarSettings">
          <li id="userName"><a href="/user/<%= user.firstName %><%= user.lastName %>"><%= user.firstName %> <%= user.lastName %></a></li>
          <li><a href="/user/<%= user.firstName %><%= user.lastName %>">Home</a></li>
          <li><a href="" id="logout">Logout</a></li>
        </ul>

        <div id="settings">
          <div id="update">
            <h2>Update</h2>
            <form action="" method="post">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" id="firstName" />
              <label for="laststName">Last Name</label>
              <input type="text" name="lastName" id="lastName" />
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
              <button type="submit">Save</button>
            </form>
          </div>

          <div id="delete">
            <p>or...</p>
            <form action="" method="delete">
              <input type="hidden" value="colocarOidDoUserAqui" />
              <button type="submit">Delete account</button>
            </form>
          </div>
        </div>
      </div>
    </header>

    <section id="icon">
      <div id="iconUser"></div>
    </section>

    <% if(success_msg.length > 0) { %> <%- include('../components/message',
    {type: 'success', messages: success_msg, typeClass: 'alert'}) %> <% } %>

    <script src="/script.js"></script>
  </body>
</html>
